version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6
    working_directory: ~/circleci-working

    steps:
      # checkout sourcecode on to working_directory
      - checkout

      # Before setup_remote_docker, all commands are executed in the primary container.
      # - run: ...

      # Once setup_remote_docker is called, a new remote environment is created,
      # and your primary container is configured to use it. This is a way to solve 
      # Docker-in-Docker problem described below:
      # https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/
      - setup_remote_docker

      - run:
          name: Install Dependencies
          command: |
            sudo pip install azure-cli

      # All docker-related commands are also executed in your primary container, 
      # but building/pushing images and running containers happens in the remote Docker Engine
      - run:
          name: Build Docker image
          command: |
            TAG=$CIRCLE_SHA1
            docker build -f Dockerfile.webapp -t revanthparepalli/wordpress-app:$TAG .

      #- run:
      #    name: Start container and check if it's running
      #    command: |
      #      # make sure you're not using `--rm` option otherwise container will be killed after finish
      #      TAG=$CIRCLE_SHA1
      #      docker run -d -e -e WORDPRESS_DB_HOST=$MYSQL_HOST -e WORDPRESS_DB_USER=$MYSQL_USER_USER -e WORDPRESS_DB_PASSWORD=$MYSQL_USER_PASS -p 8080:80 --name wordpress-app yoichikawasaki/wordpress-app:$TAG 
      #      sleep 10 && docker exec wordpress-app curl --retry 3 --retry-delay 3 http://localhost:8080
       
      - run:
          name: Push Docker image and Update Azure Web App with the image
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              TAG=$CIRCLE_SHA1
              docker login -u revanthparepalli -p Reva@1998
              docker push revanthparepalli/wordpress-app:$TAG
              az login --service-principal --username 44af504b-1750-4649-ac81-18d8ce442158 --password a1448427-efd5-4ff6-b157-3566f337f874 --tenant 17360a6f-9efa-4fba-b22d-26ab50796678
              az webapp config appsettings set --name WPApplication --resource-group appsvc_linux_centralus --settings WORDPRESS_DB_HOST=localhost WORDPRESS_DB_USER=root WORDPRESS_DB_PASSWORD=$MYSQL_USER_PASS
              az webapp config container set --name WPApplication --resource-group appsvc_linux_centralus -c "revanthparepalli/wordpress-app:$TAG"
            fi
